@model List<Course>
@{
    ViewData["Title"] = "Default";
    Layout = null;
}

<!-- Courses Area Start -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-course">
                <div class="course-img">
                    <a asp-controller="Courses" asp-action="Detail" asp-route-Id="@item.Id">
                        <img src="~/img/course/@item.Image" alt="course">
                        <div class="course-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="course-content">
                    <h3><a asp-controller="Courses" asp-action="Detail" asp-route-Id="@item.Id">@item.Name</a></h3>
                    <p>@item.Desc.Substring(0, 10)</p>
                    <a class="default-btn" asp-controller="Courses" asp-action="Detail" asp-route-Id="@item.Id">read more</a>
                </div>
            </div>
        </div>
    }
</div>
<!-- Courses Area End -->